
$small: '(max-width:766px)';
$middle: '(max-width:1199px)';
$large: '(min-width:1200px)';
$text-color: #333;
$conversion-color: #74cfae;
$background-color-gray: #f2f2f2;
$background-color-dark: #4e4e4e;